@charset "utf-8";
html{
    font-size: 62.5%;
}
*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* --------- top_parts -------------------------------------------------------*/
.header{
    position: relative;
}

.top_parts{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 8.8rem;
    z-index: 1000;
}

/* --- head_face -------------------------------*/
.head_face{
    width: 100%;
    height: 4.4rem;
    box-sizing: border-box; 
    background-color: #5BBAC7;
    padding: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* --- ハンバーガーメニュー ---------------------*/
.head_face_hamburger_menu {
    width: 4rem;
    height: 4rem;
    border-radius: 2%;
    background-color:#fff;
    position: relative;
    margin: 0 1rem;
}

.head_face_hamburger_menu span {
    width: 2.6rem;
    height: 0.3rem;
    display: block;
    background-color: #5BBAC7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.3rem;
    margin-top: -0.1rem;
}

.head_face_hamburger_menu span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.head_face_hamburger_menu .middle {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.head_face_hamburger_menu .top {
    -webkit-transform: translateY(-1.2rem);
    -ms-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
}

.head_face_hamburger_menu .bottom {
    -webkit-transform: translateY(1.2rem);
    -ms-transform: translateY(1.2rem);
    transform: translateY(1.2rem);
}

.head_face_hamburger_menu:hover .top {
  -webkit-transform: translateX(-.3rem) translateY(-1.1rem);
  -ms-transform: translateX(-.3rem) translateY(-1.1rem);
  transform: translateX(-.3rem) translateY(-1.1rem);
}
.head_face_hamburger_menu:hover .middle {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
.head_face_hamburger_menu:hover .bottom {
  -webkit-transform: translateX(.3rem) translateY(1.3rem);
  -ms-transform: translateX(.3rem) translateY(1.3rem);
  transform: translateX(.3rem) translateY(1.3rem);
}

/* --- head_face_icon ---------------*/
.head_face_icon img{
    max-width: 4rem;
    transform: translateX(3rem);
    vertical-align: bottom;
}

/* --- head_face_menu ---------------*/
.head_face_menu ul{
    margin:0;
    padding: 0;
    height: 4rem;
    
}
.head_face_menu li{
    display: inline;
    margin: 0 1rem;
    line-height: 4rem;
}

.head_face_menu li a{
    color: #fff;
    font-size: 2rem;
}

.head_face_menu li a:hover{
    color: rgba(255, 255, 255, 0.700);
}

.head_face_menu li i{
    vertical-align: middle;
}

/* --- gnav ---------------------------------------*/
.gnav{
    width: 100vw;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.gnav_1st_stage a{
    color:#666666;
    font-size: 1.4rem;
    text-align: center;
    display: block;
}

/* 45rem以下の環境 */
@media screen and (max-width:45rem){
    .gnav_1st_stage a{
        font-size: 1.1rem;
    }
}

.gnav_2nd_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
    font-weight: bold;
    border-bottom: #848484 0.1rem solid;
}

.gnav_2nd_end_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
}

.gnav_3rd_stage>li>a{
    color:#666666;
    font-size: 1.2rem;
    text-align: left;
    display: block;
}

.gnav a:hover{
    color: #5BBAC7;
}

.gnav_1st_stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:4.4rem;
}

.gnav_1st_stage>li{
    width: 15%;
    padding: 1rem;
    z-index: 2000;
}

.gnav_2nd>li{
    width: 150%;
    transform: translateY(1.2rem);
    background-color: rgba(235, 235, 235, 0.975);
    padding: 1rem;
}

/* --------- member_menu --------------------------*/
.member_menu{
    width: 28rem;
    height: 100vh;
    background-color: rgba(249, 249, 249, 0.955);
    position: absolute;
    top: 0;
    left: -28rem;
}
div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgb(77, 75, 75);
	filter:alpha(opacity=60);
    opacity: 0.60;
    z-index: 10000;
}

.member_menu_page ul li a{
    font-size: 1.7rem;
    color: #666666;
    display: block;
    width: 28rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.member_menu_page ul li a:hover{
    background-color: rgb(235,241,246);
}

.member_menu_page ul li a .fas,
.member_menu_page ul li a .far{
    color: rgb(54,158,176);
}

/* -- 通常会員用画面 --- */
.normal_member{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border-bottom: .1rem #EFEFEF solid;
}
.normal_member a{
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(54,158,176) .2rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.normal_member a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}
.normal_member{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    background-color: rgb(235,241,246);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.normal_member p{
    color: #666666;
    font-size: 1.6rem;
    margin-right: 1.5rem;
    line-height: 0.9;
}
.normal_member p i{
    font-size: 4rem;
}
.normal_member p span{
    font-size: 1.1rem;
}
.normal_member a{
    color: #fff;
    font-size: 1.22rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(36, 113, 247) .2rem solid;
    border-radius: 2%;
    background-color: rgb(36, 113, 247);
    font-weight: bold;
}
.normal_member a:hover{
    color: rgb(36, 113, 247);
    background-color: #fff;
}
.member_menu_page ul li:nth-last-child(2){
    border-top: #848484 0.1rem solid;
}

.member_menu_page ul li:last-child{
    border-bottom: #848484 0.1rem solid;
}
.member_logout{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
}
.member_logout a{
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    padding: .7rem 1.2rem;
    border: rgb(54,158,176) 0.16rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.member_logout a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

/* --------- footer ----------------------------------------------------------------*/
footer{
    width: 100vw;
    background-color: rgb(235,235,235);
    margin: 2rem 0 0 0;
    padding: 4rem 0 3rem 0;
    box-sizing: border-box;
}

.footer_wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.footer_link{
    width: 15rem;
    transform: translateX(-2rem);
    border-bottom: rgb(152, 152, 152) .1rem solid;
    text-align: center;
    transform: translateX(.15rem); /* なぜスマホで見ると中央にいかない？ */
}

.footer_link a{
    font-size: 1.2rem;
    color: rgb(89, 89, 89);
    padding: 2rem;
}

.footer_link.long a{
    font-size: 1.1rem;
}

.footer_link a:hover{
    color: rgba(77, 206, 228, 0.955);
}

/* ----------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
----------------------------------------------------------
---------------------------------------------------------- */

.wrap{
    width: 100vw;
    margin: 8.8rem 0 0 0;
    padding: 2rem;
    box-sizing: border-box;
}

/* --- pankuzu --------------------------------------------- */
.pankuzu{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

.pankuzu ul li{
    display: inline;
}

.pankuzu ul li a,
.pankuzu ul li i{
    color: #454545;
    font-size: 1.2rem;
}

.pankuzu ul li a span{
    color: rgb(116, 116, 116);
}

/* --- section_condition --------------------------------------------- */
.section_condition{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

.accordion dt{
    width: 100%;
    background-color: #EFEFEF;
    border: #BABABA .1rem solid;
    box-shadow: .1rem .1rem .1rem .1rem #BABABA;
    padding: .5rem 1rem ;
    overflow: hidden;
}

.accordion dt p{
    float: left;
    color: #686868;
    font-size: 1.4rem;
}

.accordion dt i{
    float: right;
    color: #686868;
    font-size: 1.8rem;
    cursor: pointer;
}

.rotate{
    transform: rotate(180deg);
}

.accordion dd p{
    color: rgb(116, 116, 116);
    font-size: 1.3rem;
    margin: 1rem 0 0 0;
}
.accordion dd hr{
    margin: 1.5rem 0;
}
.condition_price{
    display: flex;
    flex-direction: row;
}

#range{
    width: 80vw; /* 🔥🔥🔥　スライダーのデザインについて調べる必要あり　🔥🔥🔥 */
}

.condition_category li{
    display: inline-block;
    margin: 1rem;
}
.condition_category li a{
    color: #376DAB;
    font-size: 1.2rem;
}

.condition_sort{
    border: #BABABA .1rem solid;
    padding: .5rem;
    display: inline;
}
.condition_sort a{
    font-size: 1.3rem;
}


/* --- section_items ----------------------------------------------------------------------------- */
.section_items{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}
.items{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4,1fr); /* 1:1:1の意味 */
    grid-template-columns: repeat(3,1fr); 
    grid-row-gap:2rem;
	grid-column-gap:2rem;
}

.item{
    background-color: #fff;
    border: rgb(208,208,208) 0.1rem solid;
    border-radius: 2%;
    box-shadow: 1px 1px 1px 1px rgb(208,208,208);
    cursor: pointer;
    
}

.item_pic{
    object-fit: cover;
    text-align: center;
    vertical-align: bottom;
}

.item_pic img{
    max-width:90%;
}

.item_title{
    padding: 1.5rem 0 0.5rem 0.5rem;
    border-bottom: rgb(118, 118, 118) 0.03rem solid;
    font-size: 1.4rem;
    
}

.item_price{
    padding: 1rem 0 0 0.5rem;
    font-size: 1.4rem;
    
}

/* --- more ------------------------------------------------------------------------------------ */
.more{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
}
.more_button{
    margin: .5rem 0;
}
.more_button a{
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    padding: .7rem 3rem;
    border: rgb(54,158,176) 0.16rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
    font-weight: bold;
}
.more_button a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

/* --- section_number --------------------------------------------------------------------------- */
.section_number{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
}

.section_number ul li{
    display: inline;
    margin: 0 .7rem;
}

.section_number ul li a{
    font-size: 1.2rem;
    color: #686868;
    padding: .4rem;
}

.section_number ul li a:hover{
    background-color: #BABABA;
    border-radius: 10%;
}

.section_number ul li:nth-child(2) a{
    background-color: #07519A;
    border-radius: 10%;
    padding: .4rem;
    color: #fff;
    font-weight: bold;
}
