@charset "utf-8";
html{
    font-size: 62.5%;
}

*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* --------- header -------------------------------------------------------*/

/* --- head_ad -------------------------*/
.head_ad{
    width: 100vw;
    height: 3rem;
    box-sizing: border-box; 
    background-color: rgb(255,255,255);
}

.head_ad p{
    color: rgb(83,83,83);
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem;
}

.head_ad a{
    background-color: rgb(200, 200, 200);
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    border: rgb(200,200,200) solid 0.2rem;
    border-radius: 5%;
    padding: .5rem;
}

.head_ad a:hover{
    background-color: rgb(255,255,255);
    color: rgb(200,200,200);
    border: rgb(200,200,200) solid 0.2rem;
    transition: .3s;
}

/* --------- top_parts -------------------------------------------------------*/
.top_parts{
    /*position: fixed;  ここはjQueryでclassを操作する */
    width:100vw;
    height: 8.8rem;
    z-index: 1000;
}

/* --- head_face -------------------------------*/
.head_face{
    width: 100%;
    height: 4.4rem;
    box-sizing: border-box; 
    background-color: #5BBAC7;
    padding: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* --- ハンバーガーメニュー -----------*/
.head_face_hamburger_menu {
    width: 4rem;
    height: 4rem;
    border-radius: 2%;
    background-color:#fff;
    position: relative;
    margin: 0 1rem;
}

.head_face_hamburger_menu span {
    width: 2.6rem;
    height: 0.3rem;
    display: block;
    background-color: #5BBAC7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.3rem;
    margin-top: -0.1rem;
}

.head_face_hamburger_menu span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.head_face_hamburger_menu .middle {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.head_face_hamburger_menu .top {
    -webkit-transform: translateY(-1.2rem);
    -ms-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
}

.head_face_hamburger_menu .bottom {
    -webkit-transform: translateY(1.2rem);
    -ms-transform: translateY(1.2rem);
    transform: translateY(1.2rem);
}
.head_face_hamburger_menu:hover .middle {
  background: rgba(51, 51, 51, 0);
}

.head_face_hamburger_menu:hover .top {
  -webkit-transform: rotate(-45deg) translateY(0px);
  -ms-transform: rotate(-45deg) translateY(0px);
  transform: rotate(-45deg) translateY(0px);
}

.head_face_hamburger_menu:hover .bottom {
  -webkit-transform: rotate(45deg) translateY(0px);
  -ms-transform: rotate(45deg) translateY(0px);
  transform: rotate(45deg) translateY(0px);
}

/* --- head_face_icon ---------------*/
.head_face_icon img{
    max-width: 4rem;
    transform: translateX(3rem); /* ハンバーガーとhead_face_menuの幅が違うので位置調整*/
    vertical-align: bottom; /* これいる？ベースラインの観点から必要！ */
}

/* --- head_face_menu ---------------*/
.head_face_menu ul{
    margin:0;
    padding: 0;
    height: 4rem;
    
}
.head_face_menu li{
    display: inline;
    margin: 0 1rem;
    line-height: 4rem;
}

.head_face_menu li a{
    color: #fff;
    font-size: 2rem;
}

.head_face_menu li a:hover{
    color: rgba(255, 255, 255, 0.700);
}

.head_face_menu li i{
    vertical-align: middle;
}

/* --- gnav ---------------------------------------*/
.gnav{
    width: 100vw;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.gnav_1st_stage a{
    color:#666666;
    font-size: 1.4rem; /* 💡 スマホで見たら文字大きかったから */
    text-align: center;
    display: block;
}

/* 45rem以下の環境 */
@media screen and (max-width:45rem){
    .gnav_1st_stage a{
        font-size: 1.1rem;
    }
}

.gnav_2nd_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
    font-weight: bold;
    border-bottom: #848484 0.1rem solid;
}

.gnav_2nd_end_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
}

.gnav_3rd_stage>li>a{
    color:#666666;
    font-size: 1.2rem;
    text-align: left;
    display: block;
}

.gnav a:hover{
    color: #5BBAC7;
}

.gnav_1st_stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:4.4rem;
}

.gnav_1st_stage>li{
    width: 15%;
    padding: 1rem;
    z-index: 2000; /* これでhoverで出てくるメニューがtop_pageの文字の下に潜らない */
}

.gnav_2nd>li{
    width: 150%;
    transform: translateY(1.2rem);
    background-color: #fff;
    padding: 1rem;
}

/* --------- member_menu -----------------------------------------------------*/
.member_menu{
    background-color: pink;
    width: 28rem;
    height: 100vh;
    position: relative;
    display: none; /* ここでメニュー有無 */
}

.member_menu_page{
    position: absolute;
    top: 0;
    left: 0;
}

.member_menu_page ul li a{
    font-size: 1.7rem;
    color: #666666;
    display: block;
    width: 28rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.member_menu_page ul li a:hover{
    background-color: rgb(235,241,246);
}

.member_menu_page ul li a .fas,
.member_menu_page ul li a .far{
    color: rgb(54,158,176);
}

.member_menu_page ul li:nth-last-child(2){
    border-top: #848484 0.1rem solid;
}

.member_menu_page ul li:last-child{
    border-bottom: #848484 0.1rem solid;
}

.member_logout{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
}
.member_logout a{
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    padding: .7rem 1.2rem;
    border: rgb(54,158,176) 0.16rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.member_logout a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

/* --- page1 会員未登録orログイン画面 ---*/
.member_menu_page_1{
    display: none;
}
.member_login{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border-bottom: .1rem #EFEFEF solid;
}
.member_login a{
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(54,158,176) .2rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.member_login a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

/* --- 会員画面 -------------*/
.member_menu_page_2{
    display: none;
}
.member_menu_page_3{
    display: none;
}
/* --- page2/page3 一般会員画面 -------------*/
.exhibit_member,
.normal_member{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    background-color: rgb(235,241,246);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.exhibit_member p,
.normal_member p{
    color: #666666;
    font-size: 1.6rem;
    margin-right: 1.5rem;
    line-height: 0.9;
}
.exhibit_member p i,
.normal_member p i{
    font-size: 4rem;
}
.exhibit_member p span,
.normal_member p span{
    font-size: 1.1rem;
}

.exhibit_member a{
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(251,0,7) .2rem solid;
    border-radius: 2%;
    background-color: rgb(251,0,7);
    font-weight: bold;
}
.exhibit_member a:hover{
    color: rgb(251,0,7);
    background-color: #fff;
}

.normal_member a{
    color: #fff;
    font-size: 1.22rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(36, 113, 247) .2rem solid;
    border-radius: 2%;
    background-color: rgb(36, 113, 247);
    font-weight: bold;
}
.normal_member a:hover{
    color: rgb(36, 113, 247);
    background-color: #fff;
}

/* --------- top_page -------------------------------------------------------*/
.top_page{
    background-image: url(images/top_page_big.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
}

/* 52rem以下の環境 */
@media screen and (max-width:52rem){
    .top_page{
        background-image: url(images/top_img_sm.jpg);
        background-repeat: no-repeat;
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
    }
}

.top_page h1{
    font-size: 3.4rem;
    text-align: center;
    transform: translateY(18rem);
}

.top_page p{
    font-size: 2rem;
    text-align: center;
    transform: translateY(18rem);
    padding: 2rem 8rem 0 8rem;
}

.top_page img{
    max-width: 100%;
}

/* 52rem以下の環境 */ /* 💡 スマホで見たら文字大きかったから */
@media screen and (max-width:32rem){
    .top_page h1{
        font-size: 3rem;
    }
    .top_page p{
        font-size: 1.7rem;
    }
}

/* --------- baton_page -------------------------------------------------------*/
.baton_page{
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
}

.baton_page h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.baton_page p{
    text-align: center;
}

.baton_page img{
    max-width: 100%;
    text-align: center;
}

/* --------- flow_page -------------------------------------------------------*/
.flow_page{
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
}

.flow_page h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.flow_page p{
    text-align: center;
}

.flow_page img{
    max-width: 100%;
    text-align: center;
}

/* --------- Instagram紹介アイテム -----４商品---------------------------------------------*/
.instagram_items{
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
}

.instagram_items h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.insta_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.insta_item{
    width: 25rem;
    height: 25rem;
    border: rgb(208,208,208) 0.1rem solid;
    border-radius: 2%;
    box-sizing: border-box;
    margin: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(208,208,208);
    cursor: pointer;
}

/* 35rem以上43rem以下の環境 */
@media screen and (min-width:35rem) and (max-width:43rem){
    .insta_item{
        width: 20rem;
        height: 20rem;
    }
}

/* 35rem以下の環境 */ /* 💡 スマホで見たら大きかったから */
@media screen and (max-width:35rem){
    .insta_item{
        width: 14rem;
        height: 14rem;
    }
}

.insta_item_parts1{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 0 7%;
    object-fit: contain;
    text-align: center;
    vertical-align: bottom;
}

.insta_item_parts1 img{
    max-width: 100%;
    max-height: 100%;
}

.insta_item p{
    font-size: 5%;
    margin: 0.1rem 0 0.5rem 0.5rem;
}

.insta_item_parts2{
    width: 100%;
    height: 10%;
    border-top: rgb(118, 118, 118) 0.03rem solid;
    border-bottom: rgb(118, 118, 118) 0.03rem solid;
    box-sizing: border-box;
}

.insta_item_parts3{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

/* --------- 新着アイテム -----６商品--------------------------------------------------*/
.new_items{
    width: 100vw;
    background-color: rgb(224,242,246);
    box-sizing: border-box;
    padding: 2rem;
}

.new_items h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.new_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.new_item{
    width: 30rem;
    height: 35rem;
    background-color: #fff;
    border: rgb(208,208,208) 0.1rem solid;
    border-radius: 2%;
    box-sizing: border-box;
    margin: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(208,208,208);
    cursor: pointer;
}

.new_item p{
    font-size: 10%;
    margin: 0.1rem 0 0.5rem 0.5rem;
}

/* 35rem以上43rem以下の環境 */
@media screen and (min-width:35rem) and (max-width:43rem){
    .new_item{
        width: 20rem;
        height: 23rem;
    }
}

/* 35rem以下の環境 */ /* 💡 スマホで見たら大きかったから */
@media screen and (max-width:35rem){
    .new_item{
        width: 14rem;
        height: 16rem;
    }
}

.slideshow_pic{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding: 0 ;
    object-fit: contain;
    text-align: center;
    vertical-align: bottom;
    position:relative; /* スライドショーのため */
}

.slideshow_pic img{
    max-width:100%;
    max-height:100%;
}

.slideshow_p_1{
    width: 100%;
    height: 10%;
    border-top: rgb(118, 118, 118) 0.03rem solid;
    border-bottom: rgb(118, 118, 118) 0.03rem solid;
    box-sizing: border-box;
}

.slideshow_p_2{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
}

.new_page_more{
    text-align: center;
    margin: 4rem 0 3rem 0;
}

.new_page_more a{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(130,130,130);
    background-color: #fff;
    border: rgb(240, 237, 191) 0.2rem solid;
    padding: 1rem 3rem;
    border-radius: 6%;
}

.new_page_more a:hover{
    border: #fff 0.2rem solid;
    background-color: rgb(240, 237, 191);
}

/* ここからスライドショーのCSS(画像) */
/* img要素は絶対配置で一か所に重ねる */
.slideshow_pic img{
	position:absolute;
    top:0;
    left: 50%; /*いったん50%ずらしておいてjQueryで幅の半分を計算して調整する*/
    overflow: hidden;
}
/* 2番目以降のimg要素にclass="alt"を付け、見えなくする */
.slideshow_pic img.alt{
    display:none;
}

/* ここからスライドショーのCSS(文字) */
.slideshow_p{
    position: relative;
}
.slideshow_p p{
	position:absolute;
    top:0;
    left: 0; 
}
.slideshow_p p.alt{
    display:none;
}

/* --------- マリマの使い方ページ ---------------------------------------------------------*/
.how_page{
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
    background-image: url(images/mitete.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.how_page h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.how_page_section{
    margin: 0 auto;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how_page_parts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-8rem);
}

.how_page_parts p{
    font-size: 1.8rem; 
    color: rgb(130,130,130);
}

/* 💡 スマホで見たら文字大きかったから */
@media screen and (max-width:35rem){
    .how_page_parts p{
        font-size: 1.5rem;
    }
}

.how_page_button{
    margin: 3rem;
}

.how_page_button a{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(130,130,130);
    background-color: #fff;
    border: rgb(249, 246, 200) 0.2rem solid;
    padding: 1rem 3rem;
    border-radius: 6%;
}

.how_page_button a:hover{
    color: rgb(94, 94, 94);
    border: #fff 0.2rem solid;
    background-color: #F7F5D6;
}

/* --------- 新着情報 ----------------------------------------------------------------*/
.news_page{
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
}

.news_page h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.news_wrap{
    background-color: rgb(235,235,235);
    margin: 0 auto;
    width: 88%;
    padding: 2rem 0 .2rem 0;
}

.news_article{
    background-color: #fff;
    margin: 0 auto 3rem auto;
    width: 88%;
    border-radius: 2%;
    padding: .5rem;
}

.news_article h3{
    font-size: 1.8rem;
    color: rgb(89, 89, 89);
    margin: 1rem 0;
}

/* 💡 スマホで見たら文字大きかったから */
@media screen and (max-width:35rem){
    .news_article h3{
        font-size: 1.5rem;
    }
}

.news_contents{
    overflow: hidden;
    width: 93%;
    margin: auto;
    padding: 0 0 1rem 0;
}

.news_contents img{
    float: left;
    width:16%;
    border: rgb(235,235,235) 0.1rem solid;
    margin-right: 0.5rem;
}

.news_contents p{
    font-size: 1.4rem;
    float: right;
    width:83%;
}

/* 💡 スマホで見たら文字大きかったから */
@media screen and (max-width:35rem){
    .news_contents p{
        font-size: 1.2rem;
    }
}

/* --------- ビジョン ----------------------------------------------------------------*/
.vision_page{
    width: 100vw;
    box-sizing: border-box;
    padding: 2rem;
}

.vision_page h2{
    font-size: 2rem;
    color: rgb(130,130,130);
    margin: 2rem 0;
}

.vision_page_word{
    width: 100%; 
    padding-top: 60%; /* このようにタテヨコ比を固定で伸縮させる場合にこのpadding-top(かbottom)を使う */
    background-image: url(images/vision.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.vision_page_word p{
    font-family: 'Kalam', cursive;
    font-size: 7rem;
    text-align: center;
    transform: translateY(-5rem);
}

/* --------- footer ----------------------------------------------------------------*/
footer{
    width: 100vw;
    background-color: rgb(235,235,235);
    margin: 2rem 0 0 0;
    padding: 4rem 0 3rem 0;
}

.footer_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.footer_link{
    width: 15rem;
    transform: translateX(-2rem);
    border-bottom: rgb(152, 152, 152) .1rem solid;
    text-align: center;
}

.footer_link a{
    font-size: 1.2rem;
    color: rgb(89, 89, 89);
    padding: 2rem;
}

.footer_link.long a{
    font-size: 1.1rem;
}

.footer_link a:hover{
    color: rgba(77, 206, 228, 0.955);
}