@charset "utf-8";
html{
    font-size: 62.5%;
}
*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* --------- top_parts -------------------------------------------------------*/
.header{
    position: relative;
}

.top_parts{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 8.8rem;
    z-index: 1000;
}

/* --- head_face -------------------------------*/
.head_face{
    width: 100%;
    height: 4.4rem;
    box-sizing: border-box; 
    background-color: #5BBAC7;
    padding: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* --- ハンバーガーメニュー ---------------------*/
.head_face_hamburger_menu {
    width: 4rem;
    height: 4rem;
    border-radius: 2%;
    background-color:#fff;
    position: relative;
    margin: 0 1rem;
}

.head_face_hamburger_menu span {
    width: 2.6rem;
    height: 0.3rem;
    display: block;
    background-color: #5BBAC7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.3rem;
    margin-top: -0.1rem;
}

.head_face_hamburger_menu span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.head_face_hamburger_menu .middle {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.head_face_hamburger_menu .top {
    -webkit-transform: translateY(-1.2rem);
    -ms-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
}

.head_face_hamburger_menu .bottom {
    -webkit-transform: translateY(1.2rem);
    -ms-transform: translateY(1.2rem);
    transform: translateY(1.2rem);
}

.head_face_hamburger_menu:hover .top {
  -webkit-transform: translateX(-.3rem) translateY(-1.1rem);
  -ms-transform: translateX(-.3rem) translateY(-1.1rem);
  transform: translateX(-.3rem) translateY(-1.1rem);
}
.head_face_hamburger_menu:hover .middle {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
.head_face_hamburger_menu:hover .bottom {
  -webkit-transform: translateX(.3rem) translateY(1.3rem);
  -ms-transform: translateX(.3rem) translateY(1.3rem);
  transform: translateX(.3rem) translateY(1.3rem);
}

/* --- head_face_icon ---------------*/
.head_face_icon img{
    max-width: 4rem;
    transform: translateX(3rem);
    vertical-align: bottom;
}

/* --- head_face_menu ---------------*/
.head_face_menu ul{
    margin:0;
    padding: 0;
    height: 4rem;
    
}
.head_face_menu li{
    display: inline;
    margin: 0 1rem;
    line-height: 4rem;
}

.head_face_menu li a{
    color: #fff;
    font-size: 2rem;
}

.head_face_menu li a:hover{
    color: rgba(255, 255, 255, 0.700);
}

.head_face_menu li i{
    vertical-align: middle;
}

/* --- gnav ---------------------------------------*/
.gnav{
    width: 100vw;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.gnav_1st_stage a{
    color:#666666;
    font-size: 1.4rem;
    text-align: center;
    display: block;
}

/* 45rem以下の環境 */
@media screen and (max-width:45rem){
    .gnav_1st_stage a{
        font-size: 1.1rem;
    }
}

.gnav_2nd_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
    font-weight: bold;
    border-bottom: #848484 0.1rem solid;
}

.gnav_2nd_end_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
}

.gnav_3rd_stage>li>a{
    color:#666666;
    font-size: 1.2rem;
    text-align: left;
    display: block;
}

.gnav a:hover{
    color: #5BBAC7;
}

.gnav_1st_stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:4.4rem;
}

.gnav_1st_stage>li{
    width: 15%;
    padding: 1rem;
    z-index: 2000;
}

.gnav_2nd>li{
    width: 150%;
    transform: translateY(1.2rem);
    background-color: rgba(235, 235, 235, 0.975);
    padding: 1rem;
}

/* --------- member_menu --------------------------*/
.member_menu{
    width: 28rem;
    height: 100vh;
    background-color: rgba(249, 249, 249, 0.955);
    position: absolute;
    top: 0;
    left: -28rem;
}
div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgb(77, 75, 75);
	filter:alpha(opacity=60);
    opacity: 0.60;
    z-index: 10000;
}

.member_menu_page ul li a{
    font-size: 1.7rem;
    color: #666666;
    display: block;
    width: 28rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.member_menu_page ul li a:hover{
    background-color: rgb(235,241,246);
}

.member_menu_page ul li a .fas,
.member_menu_page ul li a .far{
    color: rgb(54,158,176);
}

/* -- 通常会員用画面 --- */
.normal_member{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border-bottom: .1rem #EFEFEF solid;
    background-color: rgb(235,241,246);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
}
.normal_member a{
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(54,158,176) .2rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.normal_member a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

.normal_member p{
    color: #666666;
    font-size: 1.6rem;
    margin-right: 1.5rem;
    line-height: 0.9;
}
.normal_member p i{
    font-size: 4rem;
}
.normal_member p span{
    font-size: 1.1rem;
}
.normal_member a{
    color: #fff;
    font-size: 1.22rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(36, 113, 247) .2rem solid;
    border-radius: 2%;
    background-color: rgb(36, 113, 247);
    font-weight: bold;
}
.normal_member a:hover{
    color: rgb(36, 113, 247);
    background-color: #fff;
}
.member_menu_page ul li:nth-last-child(2){
    border-top: #848484 0.1rem solid;
}

.member_menu_page ul li:last-child{
    border-bottom: #848484 0.1rem solid;
}
.member_logout{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
}
.member_logout a{
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    padding: .7rem 1.2rem;
    border: rgb(54,158,176) 0.16rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.member_logout a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

/* --------- footer ----------------------------------------------------------------*/
footer{
    width: 100vw;
    background-color: rgb(235,235,235);
    margin: 2rem 0 0 0;
    padding: 4rem 0 3rem 0;
    box-sizing: border-box;
}

.footer_wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.footer_link{
    width: 15rem;
    transform: translateX(-2rem);
    border-bottom: rgb(152, 152, 152) .1rem solid;
    text-align: center;
    transform: translateX(.15rem); /* なぜスマホで見ると中央にいかない？ */
}

.footer_link a{
    font-size: 1.2rem;
    color: rgb(89, 89, 89);
    padding: 2rem;
}

.footer_link.long a{
    font-size: 1.1rem;
}

.footer_link a:hover{
    color: rgba(77, 206, 228, 0.955);
}

/* -----------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------- */

.wrap{
    width: 100vw;
    padding: 10rem 1rem 1rem 1rem;
    box-sizing: border-box;
}


/* ここにタブをfixedで */
#tab{
    width: 100vw;
	height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 9rem;
    left: 0;
}

#tab li {
	margin-right: .2rem;
	list-style-type: none;
}

#tab li a {
	display:block;
	width: 12rem;
	height: 3rem;
	padding-top: .5rem;
	font-size: 1.4rem;
	text-align:center;
	background-color: rgba(242, 242, 242, 0.75);
	color: #747468;
}

#tab li a:hover {
	background-color: rgba(92, 195, 202, 0.75);
	color:#FFF;
}

#tab li a.selected {
	background-color: rgba(92, 195, 202, 0.9);
	color:#fff;
}


/* --- プロフィール ------------------------------------------------------------------- */
/* 背景画像 */
#profile_and_img {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}

.background_img{
    max-width: 100%;
    background-size: cover;
}

/* プロフィール */
.section_profile{
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-6rem);
}

@media screen and (max-width: 40rem){
    .section_profile{
        width: 80%;
    }
}

.section_profile img{
    border: #fff .2rem solid; 
    border-radius: 50%;
}

.section_profile p{
    color: #666666;
    font-size: 2rem;
}

.section_seller_rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_seller_rate i{
    color: #ECBC1C;
    font-size: 1.6rem;
}

.meter_one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: .5rem;
}

.meter p{
    color: #B0B0B0;
    font-size: 1.4rem;
    padding: 0 .5rem 0 .5rem; 
}

.meter meter{
    font-size: 2rem;
}

/* インスタボタン */
.insta_btn {
    display: inline-block;
    text-align: center;/*中央揃え*/
    color: #2e6ca5;/*文字色*/
    font-size: 2rem;/*文字サイズ*/
    text-decoration: none;/*下線消す*/
    padding-top: 1rem;
}

.insta_btn .insta{/*アイコンの背景*/
    position: relative;/*相対配置*/
    display: inline-block;
    width: 5rem;/*幅*/
    height: 5rem;/*高さ*/
    vertical-align: middle;/*垂直中央に*/
    background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
    overflow: hidden;/*はみ出た部分を隠す*/
    border-radius: 1.3rem;/*角丸に*/
}

.insta_btn .insta:before{/*グラデーションを重ねるため*/
    content: '';
    position: absolute;/*絶対配置*/
    top: 2.3rem;/*ずらす*/
    left: -1.8rem;/*ずらす*/
    width: 6rem;/*グラデーションカバーの幅*/
    height: 6rem;/*グラデーションカバーの高さ*/
    background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
    background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.insta_btn .fa-instagram {/*アイコン*/
    color: #FFF;/*白に*/
    position: relative;/*z-indexを使うため*/
    z-index: 2;/*グラデーションより前に*/
    font-size: 3.5rem;/*アイコンサイズ*/
    line-height: 5rem;/*高さと合わせる*/
}

/* メッセージボタン */
.section_seller_message{
    width: 100%;
    box-sizing: border-box;
    padding-top: 2rem;
    text-align: center;
}

.section_seller_message a{
    padding: 1rem 2.5rem;
    background-color: #B4BE4E;
    border: #B4BE4E .2rem solid;
    border-bottom: rgb(137, 145, 47) .3rem solid;
    border-radius: .4rem;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}

.section_seller_message a:hover{
    background-color: #fff;
    color: #B4BE4E;
    border-bottom: #B4BE4E .2rem solid;
    border: #B4BE4E .3rem solid;
}

@media screen and (max-width: 40rem){
    .section_seller_message a{
        font-size: 1.2rem;
    }
}



/* --- コメント ------------------------------------------------------------------- */
.sentence{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.sentence h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
}

.sentence p{
    color: #767676;
    font-size: 1.6rem;
}


/* --- 商品 ------------------------------------------------------------------- */
#merchandise{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

#merchandise h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
}

.list{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}

.item{
    width: 30%;
    margin: .7rem;
    background-color: #fff;
    border: rgb(208,208,208) 0.1rem solid;
    border-radius: 2%;
    box-shadow: 1px 1px 1px 1px rgb(208,208,208);
    cursor: pointer;
}

@media screen and (max-width:50rem){
    .item{
        width: 40%;
        margin: .3rem;
    }
}

.item_pic{
    object-fit: cover;
    text-align: center;
    vertical-align: bottom;
}

.item_pic img{
    max-width:90%;
}

.item_title{
    padding: 1.5rem 0 0.5rem 0.5rem;
    border-bottom: rgb(118, 118, 118) 0.03rem solid;
    font-size: 1.4rem;
}

.item_price{
    padding: 1rem 0 0 0.5rem;
    font-size: 1.4rem;
}

.list_more{
    width: 100%;
    /*display: flex; これはjQueryで付く */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}

.list_more .item{
    width: 30%;
}

@media screen and (max-width:50rem){
    .list_more .item{
        width: 40%;
        margin: .3rem;
    }
}

.list_more_btn{
    text-align: center;
    padding:3rem 0 2rem 0;
    /* ボタンデザインはレビューのボタンを参照 */
}


/* --- レビュー ------------------------------------------------------------------- */
#review{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

#review h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
}

#review p{
    color: #767676;
    font-size: 1.6rem;
}

#review>p>i{
    color: #ECBC1C;
    font-size: 1.6rem;
}

.section_review_comment{
    width: 65%;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    border: #DBDBDB .2rem solid; 
}

@media screen and (max-width:40rem){
    .section_review_comment{
        width: 80%;
    }
}

.section_review_comment_upper{
    display: flex;
    flex-direction: row; 
}

.section_review_comment_upper .fa-user-circle{
    font-size: 4rem;
    color: #434343;
    padding-right: 1rem; 
    cursor: pointer;
}

.section_review_comment_upper p{
    font-size: 1.5rem;
    line-height: 1.3;
}

.section_review_comment_upper .rating{
    color: #ECBC1C;
    font-size: 1.6rem;
}

.date{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section_review_comment_lower{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.section_review_comment_lower img{
    border-radius: 3%;
    border: #DBDBDB .2rem solid;
    margin-right: 1rem;
    cursor: pointer; 
    max-width: 100%;
}

.review_more_1,
.review_more_2{
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}

.more_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #5BBAC6;/*ボタン色*/
    color: #FFF;
    font-size: 1.5rem;
    border-bottom: solid 4px rgb(51, 130, 140);
    border-radius: 3px;
}
.more_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.review_second{
    display: none;
}

.review_third{
    display: none;
}





/* --- お取引について ------------------------------------------------------------------- */
.about{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.about h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
}

.about p{
    color: #767676;
    font-size: 1.6rem;
}

.about span p{
    font-size: 1.3rem;
    padding-top: 1rem;
}





/* --- 報告 ------------------------------------------------------------------- */
.report{
    width: 100%;
    padding: 3rem 1rem 0 1rem;
    box-sizing: border-box;
}

.report a{
    color: #2e6ca5;
    font-size: 1.2rem;
}