@charset "utf-8";
html{
    font-size: 62.5%;
}
*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* --------- top_parts -------------------------------------------------------*/
.header{
    position: relative;
}

.top_parts{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 8.8rem;
    z-index: 1000;
}

/* --- head_face -------------------------------*/
.head_face{
    width: 100%;
    height: 4.4rem;
    box-sizing: border-box; 
    background-color: #5BBAC7;
    padding: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* --- ハンバーガーメニュー ---------------------*/
.head_face_hamburger_menu {
    width: 4rem;
    height: 4rem;
    border-radius: 2%;
    background-color:#fff;
    position: relative;
    margin: 0 1rem;
}

.head_face_hamburger_menu span {
    width: 2.6rem;
    height: 0.3rem;
    display: block;
    background-color: #5BBAC7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.3rem;
    margin-top: -0.1rem;
}

.head_face_hamburger_menu span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.head_face_hamburger_menu .middle {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.head_face_hamburger_menu .top {
    -webkit-transform: translateY(-1.2rem);
    -ms-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
}

.head_face_hamburger_menu .bottom {
    -webkit-transform: translateY(1.2rem);
    -ms-transform: translateY(1.2rem);
    transform: translateY(1.2rem);
}

.head_face_hamburger_menu:hover .top {
  -webkit-transform: translateX(-.3rem) translateY(-1.1rem);
  -ms-transform: translateX(-.3rem) translateY(-1.1rem);
  transform: translateX(-.3rem) translateY(-1.1rem);
}
.head_face_hamburger_menu:hover .middle {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
.head_face_hamburger_menu:hover .bottom {
  -webkit-transform: translateX(.3rem) translateY(1.3rem);
  -ms-transform: translateX(.3rem) translateY(1.3rem);
  transform: translateX(.3rem) translateY(1.3rem);
}

/* --- head_face_icon ---------------*/
.head_face_icon img{
    max-width: 4rem;
    transform: translateX(3rem);
    vertical-align: bottom;
}

/* --- head_face_menu ---------------*/
.head_face_menu ul{
    margin:0;
    padding: 0;
    height: 4rem;
    
}
.head_face_menu li{
    display: inline;
    margin: 0 1rem;
    line-height: 4rem;
}

.head_face_menu li a{
    color: #fff;
    font-size: 2rem;
}

.head_face_menu li a:hover{
    color: rgba(255, 255, 255, 0.700);
}

.head_face_menu li i{
    vertical-align: middle;
}

/* --- gnav ---------------------------------------*/
.gnav{
    width: 100vw;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.gnav_1st_stage a{
    color:#666666;
    font-size: 1.4rem;
    text-align: center;
    display: block;
}

/* --- 現在開いているカテゴリ👇 --- */
.gnav_1st_stage > li:nth-child(3){
    background-color: rgba(196, 196, 196, 0.948);
}

.gnav_1st_stage > li:nth-child(3) > a{
    color: #FFF;
    font-weight: bold;
}/* --- 現在開いているカテゴリ☝️ --- */


/* 45rem以下の環境 */
@media screen and (max-width:45rem){
    .gnav_1st_stage a{
        font-size: 1.1rem;
    }
}

.gnav_2nd_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
    font-weight: bold;
    border-bottom: #848484 0.1rem solid;
}

.gnav_2nd_end_stage>li>a{
    color:#666666;
    font-size: 1.3rem;
    text-align: left;
    display: block;
}

.gnav_3rd_stage>li>a{
    color:#666666;
    font-size: 1.2rem;
    text-align: left;
    display: block;
}

.gnav a:hover{
    color: #5BBAC7;
}

.gnav_1st_stage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:4.4rem;
}

.gnav_1st_stage>li{
    width: 15%;
    padding: 1rem;
    z-index: 2000;
}

.gnav_2nd>li{
    width: 150%;
    transform: translateY(1.2rem);
    background-color: rgba(235, 235, 235, 0.975);
    padding: 1rem;
}

/* --------- member_menu --------------------------*/
.member_menu{
    width: 28rem;
    height: 100vh;
    background-color: rgba(249, 249, 249, 0.955);
    position: absolute;
    top: 0;
    left: -28rem;
}
div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:rgb(77, 75, 75);
	filter:alpha(opacity=60);
    opacity: 0.60;
    z-index: 10000;
}

.member_menu_page ul li a{
    font-size: 1.7rem;
    color: #666666;
    display: block;
    width: 28rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.member_menu_page ul li a:hover{
    background-color: rgb(235,241,246);
}

.member_menu_page ul li a .fas,
.member_menu_page ul li a .far{
    color: rgb(54,158,176);
}

/* -- 通常会員用画面 --- */
.normal_member{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    border-bottom: .1rem #EFEFEF solid;
}
.normal_member a{
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(54,158,176) .2rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.normal_member a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}
.normal_member{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
    background-color: rgb(235,241,246);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.normal_member p{
    color: #666666;
    font-size: 1.6rem;
    margin-right: 1.5rem;
    line-height: 0.9;
}
.normal_member p i{
    font-size: 4rem;
}
.normal_member p span{
    font-size: 1.1rem;
}
.normal_member a{
    color: #fff;
    font-size: 1.22rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: rgb(36, 113, 247) .2rem solid;
    border-radius: 2%;
    background-color: rgb(36, 113, 247);
    font-weight: bold;
}
.normal_member a:hover{
    color: rgb(36, 113, 247);
    background-color: #fff;
}
.member_menu_page ul li:nth-last-child(2){
    border-top: #848484 0.1rem solid;
}

.member_menu_page ul li:last-child{
    border-bottom: #848484 0.1rem solid;
}
.member_logout{
    width: 28rem;
    box-sizing: border-box;
    padding: .5rem 1rem;
}
.member_logout a{
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    padding: .7rem 1.2rem;
    border: rgb(54,158,176) 0.16rem solid;
    border-radius: 2%;
    background-color: rgb(54,158,176);
}
.member_logout a:hover{
    color: rgb(54,158,176);
    background-color: #fff;
}

/* --------- footer ----------------------------------------------------------------*/
footer{
    width: 100vw;
    background-color: rgb(235,235,235);
    margin: 2rem 0 0 0;
    padding: 4rem 0 3rem 0;
    box-sizing: border-box;
    clear: both; /* これでフロート解除できてるか注意🔥 */
}

@media screen and (max-width:70rem){
    footer{
        clear: none;
    }
}

.footer_wrap{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.footer_link{
    width: 15rem;
    transform: translateX(-2rem);
    border-bottom: rgb(152, 152, 152) .1rem solid;
    text-align: center;
    transform: translateX(.15rem); /* なぜスマホで見ると中央にいかない？ */
}

.footer_link a{
    font-size: 1.2rem;
    color: rgb(89, 89, 89);
    padding: 2rem;
}

.footer_link.long a{
    font-size: 1.1rem;
}

.footer_link a:hover{
    color: rgba(77, 206, 228, 0.955);
}

/* -----------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------- */

.wrap{
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}

/* --- section_right --------------------------- */
.section_right{
    width: 35vw;
    box-sizing: border-box;
    float: right;
    padding:  0rem 1rem 0 1rem; 
    position: fixed;
    right: 2rem;
    top: 12rem;
}

@media screen and (max-width:70rem){
    .section_right{
        width: 100vw;
        height: 32rem;
        float: none;
        position: absolute; /* このpositionが効かない理由 → 親要素のtopの数値が生き残ってた… */
        top: auto;
        bottom: -3rem;
        right: 0rem;
    }
}

/* --- section_price --------------------------- */
.section_price{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 2rem auto;
}

.price_box{
    background-color: #4F5253;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    box-sizing: border-box;
}

@media screen and (max-width:70rem){
    .section_price{
        width: 50%;
        display: block;
        margin: 0 auto 2rem auto;
    }
    .price_box{
        justify-content: center;
    }
}

.price_box p{
    color: #fff;
    font-weight: bold;
    font-size: 1.7rem;
    padding-right: 1rem; 
}

@media screen and (max-width:35rem){
    .section_price{
        width: 80%;
    }
    .price_box{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .price_box p{
        font-size: 1.55rem;
        padding-bottom: .5rem;
    }
}

.square_btn {
    display: inline-block;
    text-align: center;
    padding: .5rem 2rem;
    color: rgb(46, 46, 46);
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    border-radius: .4rem;
    box-shadow: inset 0 .3rem 0 rgba(255,255,255,0.2), inset 0 -0.3rem 0 rgba(0, 0, 0, 0.153);
    border: solid .2rem #cdcdcd;/*線色*/
}

.square_btn:active {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.30);
}

/* --- section_share --------------------------- */
.section_share{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width:70rem){
    .section_share{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
}

.share_box{
    border: #4F5253 .1rem solid;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.share_like{
    width: 50%;
    border: #4F5253 .2rem solid;
    border-radius: 3%;
    padding: .5rem;
    margin: .7rem auto 1rem auto;
    display: block;
    text-align: center;
}

.share_like a,
.share_like i{
    color: #4F5253;
    font-size: 1.7rem;
    display: inline;
}

.share_like:hover i,
.share_like:hover a{
    color: rgb(211, 16, 68);
    font-size: 1.8rem;
}

.share_sns{
    width: 90%;
    background-color: #F6F6F6;
    border-radius: 2%;
    padding: .5rem .5rem;
    margin: .5rem auto;
    display: block;
    text-align: center;
}

.share_sns ul li{
    display: inline;
    margin: 0 .3rem;
}

@media screen and (max-width:35rem){
    .share_sns ul li{
        margin: 0rem;
    }
}

.share_sns a,
.share_sns i{
    color: #fff;
    font-size: 1.7rem;
}

.fa-facebook-square{
    background-color: #3B5997;
    border-radius: 5%;
    padding: 1rem;
}
.fa-twitter{
    background-color: #55ACEE;
    border-radius: 5%;
    padding: 1rem;
}
.fa-rss{
    background-color: #0CB901;
    border-radius: 5%;
    padding: 1rem;
}
.fa-blogger-b{
    background-color: #2C6EBD;
    border-radius: 5%;
    padding: 1rem;
}
.fa-get-pocket{
    background-color: #F03D53;
    border-radius: 5%;
    padding: 1rem;
}

/* --- section_report --------------------------- */
.section_report{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 0 auto;
}

@media screen and (max-width:70rem){
    .section_report{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
}

.report_word{
    display: block;
    text-align: center;
}

.report_word a{
    color: #838383;
    font-size: 1.4rem;
}

/* --------------------------------------------- */
/* --- section_image --------------------------- */
.section_image{
    width: 60vw;
    box-sizing: border-box;
    padding: 11rem 2rem 3rem 2rem ;
    float: left;
}

@media screen and (max-width:70rem){
    .section_image{
        width: 90%;
        margin: 0 auto;
        float: none;
    }
}

.mainimage > img{
    max-width: 100%; 
    vertical-align: bottom;
    text-align: center;
}

@media screen and (max-width:70rem){
    .mainimage > img{
        max-width: 100%;
        text-align: center;
    }
}

.section_image ul li{
    float: left;
    margin: 1rem 1rem 1rem 0;
}

.section_image ul li img{
    max-width: 100%;
    border: .2rem solid transparent;
    vertical-align: bottom;
}

@media screen and (max-width:40rem){
    .section_image{
        padding: 11rem 1rem 3rem 1rem ;
    }
    .section_image ul li img{
        width:7rem;
    }
    .section_image ul li{
        margin: 1rem .5rem 1rem 0;
    }
}

.thumbnails .selected {
border: .2rem solid #8ac2d0;
}

.clear{
	overflow:hidden;
}

.section_image a{
    color: #07878C;
    font-size: 1.6rem;
}

.buy{
    display: none;
}

@media screen and (max-width:70rem){
    .buy{
        display: block;
    }
}


/* --- section_title --------------------------- */
.section_title{
    width: 60vw;
    box-sizing: border-box;
    padding: 2rem 3rem 2rem 3rem ;
    float: left;
}

@media screen and (max-width:70rem){
    .section_title{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}

.section_title h2{
    color: black;
    font-size: 3.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
    border-bottom: #DBDBDB .1rem solid; 
    padding-bottom: 2rem;
}

/* --- section_detail --------------------------- */
.section_detail{
    width: 60vw;
    box-sizing: border-box;
    padding: 2rem 3rem 2rem 3rem ;
    float: left;
}

@media screen and (max-width:70rem){
    .section_detail{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}

.section_detail h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
}

.section_detail p{
    color: #767676;
    font-size: 1.6rem;
}

#section_detail_show{
    color: #3d6ced;
    cursor: pointer;
}

#section_detail_hide{
    color: #3d6ced;
    cursor: pointer;
    display: none;
}

/* --- section_note --------------------------- */
.section_note{
    width: 60vw;
    box-sizing: border-box;
    padding: 2rem 3rem 2rem 3rem ;
    float: left;
}

@media screen and (max-width:70rem){
    .section_note{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}

.section_note h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
}

.section_note p{
    color: #767676;
    font-size: 1.6rem;
}

/* --- section_review --------------------------- */
.section_review{
    width: 60vw;
    box-sizing: border-box;
    padding: 2rem 3rem 2rem 3rem ;
    float: left;
}

@media screen and (max-width:70rem){
    .section_review{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}

.section_review h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
    border-top: #DBDBDB .1rem solid; 
    padding-top: 2rem;
}

.section_review p{
    color: #767676;
    font-size: 1.6rem;
}

.section_review p i{
    color: #ECBC1C;
}

/* レビューコメント */
.section_review_comment{
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #DBDBDB .1rem solid; 
}

.section_review_comment_upper{
    display: flex;
    flex-direction: row; 
}

.section_review_comment_upper .fa-user-circle{
    font-size: 4rem;
    color: #434343;
    padding-right: 1rem; 
}

.section_review_comment_upper p span{
    font-weight: bold;
}

.section_review_comment_upper p{
    font-size: 1.5rem;
    line-height: 1.3;
}

.section_review_comment_upper .rating{
    color: #ECBC1C;
    font-size: 1.6rem;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section_review_comment_lower{
    padding-top: 1rem;
}

.review_more_1,
.review_more_2{
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}

.more_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #5BBAC6;/*ボタン色*/
    color: #FFF;
    font-size: 1.5rem;
    border-bottom: solid 4px rgb(51, 130, 140);
    border-radius: 3px;
}
.more_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.review_second{
    display: none;
}

.review_third{
    display: none;
}


/* --- section_seller --------------------------- */
.section_seller{
    width: 60vw;
    box-sizing: border-box;
    padding: 2rem 3rem 7rem 3rem ;
    float: left;
}

@media screen and (max-width:70rem){
    .section_seller{
        width: 100%;
        border-bottom: #DBDBDB .1rem solid; 
        margin: 0 auto 32rem auto;
        float: none;
    }
}

.section_seller_upper{
    width: 100%;
}

.section_seller_left{
    float: left;
}

.section_seller_left h3{
    color: rgb(74, 74, 74);
    font-size: 2.3rem;
}

.section_seller_left p{
    color: #767676;
    font-size: 1.6rem;
}

.section_seller_rate{
    display: flex;
    flex-direction: row;
}

.section_seller_rate i{
    color: #ECBC1C;
    font-size: 1.6rem;
}

.section_seller_rate p{
    color: #666666;
    font-size: 1.45rem;
}

.section_seller_upper img{
    float: right;
    max-width: 100%;
    border-radius: 50%;
}

.section_seller_message{
    clear: both;
    width: 100%;
    text-align: center;
    transform: translateY(2rem);
}

.section_seller_message a{
    padding: 1rem 2.5rem;
    background-color: #B4BE4E;
    border: #B4BE4E .2rem solid;
    border-bottom: rgb(137, 145, 47) .3rem solid;
    border-radius: .4rem;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}

.section_seller_message a:hover{
    background-color: #fff;
    color: #B4BE4E;
    border-bottom: #B4BE4E .2rem solid;
    border: #B4BE4E .3rem solid;
}